@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Open+Sans&display=swap");

.root {
  --pink--color: #ee24ff;
  --blue--color: #3f3d56;
  --gray--color: #828282;
  --white--color: #eceff2;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}
body {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0;
}

#hero {
  position: absolute;
  width: 350px;
  height: 238px;
  left: 337px;
  top: 64px;
}
span,
a {
  color: #ff9900;
}

p,
#footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
  margin-left: 28px;
}

#line {
  width: 568px;
  height: 0px;
  margin: 0 auto 8px;
  border: 1px solid #eceff2;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
